.time-picker {
  height: 40px;
  overflow: hidden;
}

.time-picker-scroll.controlled {
  height: 100%;
  overflow: hidden; /* отключаем нативную прокрутку */
  scroll-snap-type: y mandatory;
}

.time-picker-item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  color: gray;
  font-size: 20px;
  transition: transform 0.2s, color 0.2s;
}

.time-picker-item.active {
  color: white;
  font-weight: bold;
  transform: scale(1.1);
}
