@import "tailwindcss";
$gradient:linear-gradient(180deg, #3A3A6F 0%, #2D2D4F 50%, #1E1E2F 100%);
$yellow:#FACC15;
$purple:#7F5AF0;
$gray:#666666;
$lightWhite:#F1F1F1;
$darkGray:#D9D9D9;
$darkGreen:#00C896;
$lightGreen:#A2E9BA;
$red:#FF4D6D;
$darkRed:#BE3A50D9;
$darkPurple:#1E1E2F;
$lightPurple:#2D2D4F;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $gradient;
  background-repeat: no-repeat;
  height: 100%;
  font-size: 14px;
  padding:7px 10px;
  overflow: hidden;
  scrollbar-width: none;
}
html {
  scrollbar-width: none;
}

@media (max-width: 416px) {
  body {
    font-size: 14px;
  }
}
*::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome и Safari */
}